{% extends "inicio/index.html" %}
{% load static %}
{% block title_head %}
Crear Auto
{% endblock title_head %}
{% block h1_header %} Crear Auto {% endblock h1_header %}   
{% block main %}

<form action={% url "inicio:crear_auto" %} method="POST">
    {% csrf_token %}
    <p>
        Marca:
        <input type="text" name="marca">
    </p>
    <p>
        Modelo:
        <input type="text"name="modelo">
    </p>

    <p>
        Anio:
        <input type="number"name="anio">
    </p>
    
    {% comment %} <button>Enviar</button> \ {% endcomment %}



    <input type="submit" value="Enviar">
</form>


{% endblock main %}
