{% extends "inicio/index.html" %}
{% load static %}
{% block title_head %}
Segundo Template
{% endblock title_head %}
{% block h1_header %} Segundo Template {% endblock h1_header %}   
{% block main %}
<h2> {{fecha_actual}} </h2>
<p>listado</p>
<p>{{numeros}}</p>
<ul>
    <li>esto es una li de ul </li>
</ul>
<ol>
    <li> esto es una li de ol </li>
</ol>
<p>Listado</p>
<ul>
    {%for num in numeros %}
    {% if num > 5 %}
    <li>{{num}}</li>
    {% elif num == 5 %}
    <li> Soy igual a 5 </li>
    {% else %}
    <li> Soy menor a 5 </li>
    {% endif %}
    {%endfor%}  
</ul>
<img src={% static "assets/img/testimonials-3.jpg"%} alt="">
{% endblock main %}